/* Your Website Styles */


/* Show Grid */
body{
	background:url(http://fc07.deviantart.net/fs71/i/2011/130/9/2/osxlion_inspired_grey_by_djeric-d3g27m1.jpg);
	width: 800px;
	margin: 0 200px 0 200px ;
}


	

.me {
width:200px;
height:200px;


}

.major{
	width:400px;

}


.background {
	float:left;
	width:375px;
	
	text-align: justify;
	
	

}
.objectives{
	float:right;
	width:375px;
	text-align:justify;
	
}
.other{

	float: left;
}

a {
	text-decoration: none;
	width:500px;
	color:white;
	margin:10px;


}
.link{
border:none;
background: #333;
padding:8px;

 }
 .add{
 	text-align:center;

 }


footer{
width:800px;
height:40px;


}



