/* Your Website Styles */


/* Show Grid */
body{
	background:url(http://www.commentnation.com/backgrounds/images/charcoal_gray_marbled_paper_background_texture_seamless.jpg);
	width: 800px;
	margin: 0 200px 0 200px ;
	font-family: 'Josefin Sans', sans-serif;
	color:white;
}


h1{ 
font-size: 50px;
background: #333;
padding:5px;
height:50px;
line-height: 80px;
}

span{

	font-size: 40px;
}
.eagle{
	width:120px;
	height:120px;
	}
	

.fam{
width:260px;
height:260px;

}
.eag{
	float:right;


}
.kin{
width:260px;
height:260px;

}	

.me{
width:260px;
height:260px;
}

.boarder{
	width:800px;

}

.major{
	width:400px;
	

}


.background {
	float:left;
	width:375px;
	
	text-align: justify;
	
	

}
.objectives{
	float:right;
	width:375px;
	text-align:justify;
	
}
.other{

	float: left;
}

a {
	text-decoration: none;
	width:500px;
	color:white;
	margin:10px;
}

a:hover{
	background: black;

	


}
.link{
border:none;
background: #333;
padding:8px;

 }
 .add{
 	text-align:center;

 }


footer{
width:800px;
height:40px;


}



